.list-wrapper {
  background-color: white;
  margin-top: 50px;
}
.admin-info {
  background: #fff;
  margin-bottom: 20px;
}
.card {
}

.admin-info header {
  text-align: center;
  padding: 15px 0 0 0;
  margin-top: 15px;
}
.admin-info header img {
  width: 150px;
  height: 150px;
  max-width: 100%;
  border-radius: 50%;
}
.admin-name {
  text-align: center;
  font-weight: bold;
  padding: 8px 0px;
  font-size: 1.5em;
  font-family: "Monospace Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.admin-desc {
  text-align: center;
  padding: 10px 15px 20px 15px;
  font-size: 14px;
}
.tags-wrapper {
  margin-top: 20px;
}

.tags-content {
  padding: 100px;
}
.tags-content .ant-tag {
  margin: 6px;
}