@import '~antd/dist/antd.min.css';
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto;
}

.middle{
  height: 1000px;
  width:100%;
  background-color: rgb(50,50,50);
}
